<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="D:\INPT2\Machine Learning\Search Engine\Interface\Static\search.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home</title>
</head>
<body>
    <img src="https://raw.githubusercontent.com/Elhassan7/Search-Engine/master/Interface/Source/Science%20Club%20Logo.png" width="20%" height="20%">
    <form action="greet" method="post">
        <div class="box">
            <input type="text" name="box" placeholder="Search Any Product...">
            <a href=""><i class="fa fa-search" aria-hidden="true"></i></a>
        </div>
    </form>

</body>
</html>